<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Iniciar sesión con Google</h4>
                    <form>
                        <p>El sistema solo esta disponible para usuarios autenticados</p>
                        <hr>
                        <div class="text-center">
                            <a class="btn btn-danger btn-block" (click)="iniciarSesion()">Iniciar sesión con Google</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>