<div class="card mt-3">
    <div class="card-header">
        <h5>{{pregunta.orden}}. {{pregunta.pregunta1}}</h5>
    </div>
    <div class="card-body" [formGroup]="formGroup">

        <div *ngFor="let item of pregunta.opciones">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" [value]="item.opcion" [formControlName]="idPregunta.toString()"> {{item.opcion}}
                </label>
            </div>
        </div>
    </div>
</div>