<app-chart *ngIf="resultEncuestas.length > 0" [resultEncuestas]="resultEncuestas"></app-chart>
<div class="container mt-5 mb-5">

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of resultEncuestas">
            <h5>De {{item.cantidad}} encuestas, el dia {{item.fecha}} Pregunta 1:</h5>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let opcion of item.reporte">
                    <strong>{{opcion.respuesta}}:</strong> {{opcion.cantidad}}
                </li>
            </ul>
        </li>
    </ul>
<div>